<!-- Navigation -->
<nav id="navbar">
    <div class="container">
        <div class="logo">
            <div class="logo-icon">
                <img src="/assets/images/logo.jpeg" alt="DoctorsMitra Logo" style="background-color: white; height: 75px;">
            </div>
            <span>DoctorsMitra</span>
        </div>

        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="how-it-works.html">How It Works</a></li>
            <li><a href="benefits.html">Benefits</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
</nav>
